.contact-container {
  margin-top: 80px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.comment-section,
.comment-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment-form {
  margin-bottom: 30px;
}

.comment-text {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #828282;
}

.comment-btn {
  margin-top: 10px;
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  align-self: center;
}

.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-label-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6px;
  padding: 4px;
}

.contact-label {
  padding-bottom: 6px;
}

.contact-input {
  padding: 3px;
}

.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.icons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}
